*{
    margin:0;
    padding:0;
}
body{
    width: 100%;
}
/*----COMMON----*/
.section-end-btn-wrapper{
    text-align: center;
}
.section-end-btn{
    font-family: 'Red Hat Text', sans-serif;
    border:none;
    background-color: #0D606F;
    color: white;
    font-weight: 500;
    font-size: 24px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    padding:13px 32px;
}
.section-header{
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: clamp(1.5rem, 0.354rem + 2.38vw, 2.5rem);
    color: #F2785C;
}
.stories-footer-bcg{
    left:0px;
    position: absolute;
    z-index: -1;
    background-image: url('media/backgrounds/desktop/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
}
@media(min-width:390px) and (max-width:768px){
    .section-header{
        font-size: clamp(0.875rem, 0.232rem + 2.64vw, 1.5rem);
    }
    .section-end-btn{
        font-size: clamp(0.688rem, 0.237rem + 1.85vw, 1.125rem);
        padding: clamp(0.5rem, 0.178rem + 1.32vw, 0.813rem) clamp(0.875rem, -0.283rem + 4.75vw, 2rem);
    }
}
/*----NAVIGATION----*/
.mobile-navigation{
    display:none;
}
.navigation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-container{
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.nav-bar{
    font-family: 'Red Hat Text', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: clamp(3.75rem, 1.601rem + 4.47vw, 5.625rem);
    padding: 0 clamp(1.25rem, -5.913rem + 14.9vw, 7.5rem);
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo-text a{
    font-weight: 600;
    font-size: clamp(1.5rem, 0.927rem + 1.19vw, 2rem);
    text-decoration: none;
    color:white;
}
.nav-logo-svg{
    width:30px;
    height:30px;
}
.nav-links-list{
    display: flex;
    list-style: none;
    gap:clamp(1.188rem, -0.46rem + 3.43vw, 2.625rem);

}
.nav-link{
    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.5s;
}
.nav-link:hover{
    color: #d8e0e1;
}
.login-btn{
    color:white;
    padding: 10px 30px;
    border:none;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    cursor:pointer;
    transition: border-radius 1s;
}
.login-btn:hover{
    border-radius: 20px;
}
.burger{
    display:none;
}
@media(max-width:1024px){
    .nav-logo-text{
        display:none;
    }
}
@media(max-width:769px){
    .navigation{
        display:none;
    }
    .mobile-navigation{
        display:block;
    }
}
.mobile-nav-logo{
    position: absolute;
    top:42px;
    left:16px;
}
.burger{
    position: absolute;
    top:42px;
    right:16px;
    display: flex;
    flex-direction: column;
    gap:4px;
    cursor: pointer;
}
.burger-stripe{
    width:26px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}
.mobile-hidden-menu{
    background-color: #F2785C;
    position: absolute;
    border-radius: 10px;
    box-sizing: border-box;
    padding:15px;
    top:42px;
    width:160px;
    transition:left 1s;
    left:-160px;
}
.menu-is-open{
    left:0px;
}
.close-menu{
    color:rgba(255, 255, 255, 0.7);
    cursor:pointer;
}
.close-menu:hover{
    color:black;
}
.mobile-menu-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:10px;
    padding:12px 0 30px 15px;
}
.mobile-menu-item{
    font-weight: 500;
    font-size: 16px;
}

.mobile-menu-link{
    text-decoration: none;
    color:white
}
/*--------*/

/*----PREVIEW SECTION----*/
.preview{
    padding:122px clamp(1.25rem, -5.913rem + 14.9vw, 7.5rem) 144px;
    background-image: url('media/backgrounds/desktop/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.preview-header{
    font-family: 'Aleo', serif;
    color:white;
    font-weight: 700;
    font-size: clamp(2.125rem, -1.17rem + 6.86vw, 5rem);
}
.preview-text{
    font-family: 'Aleo';
    font-style: italic;
    color:white;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    padding: 54px 0;
}
.preview-search{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    width:62%;
    display: flex;
    padding: 18px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.search-input{
    font-family: 'Aleo';
    font-style: italic;
    background:none;
    border:none;
    font-size: clamp(1.188rem, 0.829rem + 0.75vw, 1.5rem);
    color: #F2785C;
    width:clamp(15rem, -7.921rem + 47.69vw, 35rem);
}
.search-btn{
    font-weight: 500;
    font-size: clamp(1rem, 0.427rem + 1.19vw, 1.5rem);
    color:white;
    background-color: #0D606F;
    border:none;
    padding: clamp(0.5rem, 0.142rem + 0.75vw, 0.813rem) clamp(1.125rem, 0.122rem + 2.09vw, 2rem);
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    cursor:pointer;
}
@media(min-width:390px) and (max-width:768px){
    .preview-text{
        font-size: clamp(1rem, 0.743rem + 1.06vw, 1.25rem);
        font-weight: 400;
    }
    .preview-search{
        width:96%;
        padding: clamp(0.563rem, 0.37rem + 0.79vw, 0.75rem);
    }
    .search-input{
        width:58%;
        font-size: clamp(0.875rem, 0.746rem + 0.53vw, 1rem);
    }
    .search-btn{
        font-size: clamp(0.688rem, 0.366rem + 1.32vw, 1rem);
        padding: clamp(0.438rem, 0.309rem + 0.53vw, 0.563rem) clamp(0.563rem, 0.434rem + 0.53vw, 0.688rem);
    }

}
/*----------*/

/*----STEPS SECTION----*/
.steps{
    padding:80px 0 96px;
}
.steps-cards{
    display: flex;
    justify-content: space-between;
    margin: 42px clamp(2.5rem, -4.09rem + 13.71vw, 8.25rem) 0;
    align-items: flex-start;
    gap:50px;
}
.step-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(17.5rem, 14.635rem + 5.96vw, 20rem);
}
.step-card-icon{
    background-color: #F2785C;
    border-radius: 16px;
    width:100px;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step-card-text{
    font-family: 'Aleo', normal;
    color: #0D606F;
    font-size: clamp(1rem, 0.713rem + 0.6vw, 1.25rem);
    margin-top: 30px;
    text-align: center;
}
@media (min-width:390px) and (max-width:768px){
    .steps{
        padding-bottom: clamp(1.25rem, -2.609rem + 15.83vw, 5rem);
    }
    .steps-cards{
        gap:40px;
        margin:40px 15px;
    }
    .step-card-text{
        font-size:clamp(0.625rem, 0.368rem + 1.06vw, 0.875rem);
    }
    .step-card-icon{
        width: 70px;
        height: 70px;
    }
}
/*--------*/

/*----DESTINATIONS SECTION----*/
.destinations{
    padding-bottom: 80px;
}
.destinations-carousel{
    margin-top: 46px;
}
.carousel-images{
    width:100%;
    overflow:hidden;
}
.img-list{
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    gap:clamp(1.25rem, -1.615rem + 5.96vw, 3.75rem);
    left: 0;
    transition:left 1s ease-in-out;
}
.carousel-img{
    width:clamp(25rem, -3.651rem + 59.61vw, 50rem);
    height:clamp(25rem, -3.651rem + 59.61vw, 50rem);
    border-radius: 16px;
}
.carousel-btns{
    margin: 24px 0 40px;
    display: flex;
    justify-content: center;
    gap:10px;

}
.carousel-btn{
    width: 25px;
    height: 25px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    cursor:pointer;
}
.active-carousel-btn{
    background-color:#F2785C;
}
@media(min-width:390px) and (max-width:768px){
    .destinations{
        padding-bottom: clamp(1.25rem, -2.609rem + 15.83vw, 5rem);
    }
}
/*--------*/

/*----STORIES SECTION----*/
.stories-header{
    padding-bottom: 40px;
}
.stories-cards{
    font-family: 'Aleo', normal;
    padding:clamp(1.25rem, -0.183rem + 2.98vw, 2.5rem);
    display: flex;
    flex-direction: column;
    gap:30px;
    background: rgba(255, 255, 255, 0.7);
}
.storie-card{
    display: flex;
    gap:clamp(1.25rem, -0.183rem + 2.98vw, 2.5rem);

}
.storie-card-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:clamp(0.5rem, -0.646rem + 2.38vw, 1.5rem);
    color: #0D606F;
}
.storie-card-header{
    font-size: clamp(1.5rem, 0.712rem + 1.64vw, 2.188rem);
}
.card-paragraph{
    font-size: clamp(1rem, 0.713rem + 0.6vw, 1.25rem);
    max-height: 260px;
    overflow: scroll;
}
.storie-card-img img{
    width: 400px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}
@media(min-width:390px) and (max-width:768px){
    .stories-cards{
        padding:15px;
        gap:15px;
    }
    .storie-card{
        gap:10px;
    }
    .storie-card-header{
        font-size: clamp(0.688rem, 0.494rem + 0.79vw, 0.875rem);
    }
    .storie-card-text{
        gap:5px;
    }
    .card-paragraph{
        font-size:clamp(0.563rem, 0.369rem + 0.79vw, 0.75rem);
        max-height:clamp(6.875rem, -0.863rem + 31.75vw, 14.375rem);
    }
    .storie-card-img img{
        width:clamp(9.375rem, -6.746rem + 66.14vw, 25rem);
        height: clamp(8.125rem, 0.387rem + 31.75vw, 15.625rem);
    }
}

/*--------*/

/*----FOOTER----*/
.footer-wrapper{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    height:60px;
    font-family: 'Red Hat Text', sans-serif;
}
.gh-link{
    text-decoration: none;
}
.gh-icon{
    position: relative;
    left:clamp(11.563rem, -14.582rem + 54.4vw, 34.375rem);
}
.gh-logo{
    width:45px;
    height: 45px;
}
@media(max-width:768px){
    .gh-icon{
        position: static;
      
    }
    .footer-copyright{
        display:none;
    }
    .gh-logo{
        width:clamp(2.563rem, 1.015rem + 6.35vw, 4.063rem);
        height: clamp(2.563rem, 1.015rem + 6.35vw, 4.063rem);
    }
    .footer-wrapper{
        height:clamp(3.75rem, 2.138rem + 6.61vw, 5.313rem);
    }
}

/*--------*/